<div class="position-absolute top-0 start-50 translate-middle-x">

  <h1 class="m-3">Ask the stupid Coach a Question 🤪 !</h1>

  <div class="card position-relative top-0 start-50 translate-middle-x" style="width: 18rem;">
    <img  src="https://images.unsplash.com/photo-1599508704512-2f19efd1e35f?q=80&w=2873&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="card-img-top" alt="screaming man">
    <div class="card-body">
      <form class="col-3" action="/answer" data-turbo="false">
        <input class="mt-3" placeholder="enter your question" type="text" name="question" aria-describedby="emailHelp">
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-primary mt-1 text-decoration-none">Submit</button>
        </div>
      </form>
    </div>
</div>
